.btn {
  cursor: pointer;
  background: none;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  margin: 2.5rem;
  span.btn-text {
    height: 120px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "rift", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 1.9375rem;
    white-space: nowrap;
    line-height: 1;
    color: $white;
    transform: rotate(-4deg);
    transition: transform 300ms, font-size 400ms;
  }
  &:hover {
    background: $gold;
    span.btn-text {
      transform: rotate(0deg);
      font-size: 1rem;
      color: $black;
    }
  }
}
.primary-btn {
  border: 1px solid $gold;
  span.btn-text {
    color: $white;
  }
  &:hover {
    background: $gold;
  }
}
.secondary-btn {
  border: 1px solid $white;
  span.btn-text {
    color: $black;
  }
  &:hover {
    background: $white;
  }
}
