.image-row {
  grid-template-areas:
    "coin beach beach ."
    ". beach beach crew"
    ". . . crew"
    "ocean mates mates mates";
}
.coin {
  grid-area: coin;
  transform: translate(10%, 0);
}
.beach {
  grid-area: beach;
  transform: translate(-20%, 35%);
}
.crew-members {
  grid-area: crew;
  transform: translate(-75%, -5%);
}
.mates {
  grid-area: mates;
  transform: translate(0%, -45%);
}
.ocean {
  grid-area: ocean;
  transform: translate(115%, -85%);
}
