.image-row {
  grid-template-areas:
    "coin beach beach ."
    ". beach beach crew"
    "salt . . crew"
    "ocean mates mates mates";
}
.coin {
  grid-area: coin;
  transform: translate(10%, 0);
}
.beach {
  grid-area: beach;
  transform: translate(-20%, 35%);
}
.crew-members {
  grid-area: crew;
  transform: translate(-75%, -25%);
}
.mates {
  grid-area: mates;
  transform: translate(0%, -40%);
}
.ocean {
  grid-area: ocean;
  transform: translate(90%, 25%);
}
.salt {
  grid-area: salt;
  transform: translate(25%, 100%);
}
@media screen and (max-width: 640px) {
  .beach {
    transform: translate(-80%, 135%) scale(1.5);
  }
  .ocean {
    transform: translate(10%, 5%);
  }
  .salt {
    transform: translate(80%, 175%);
  }
}

#cube {
  // position: sticky;
  // top: 50%;
  width: 250px;
  .cube-layer {
    width: 400px;
    position: absolute;
    inset: 50% auto auto 50%;
    transform: translate(-50%, -50%);
    // @media screen and (max-width: 640px) {
    //   width: 300px;
    // }
  }
}
.hide-layer {
  opacity: 0;
}
