header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  img.logo {
    width: 300px;
    transform: translate(0, -25px);
  }
  .hamburger {
    padding: 4rem;
    display: flex;
    flex-flow: column;
    align-items: end;
    span.line {
      background: $gold;
      display: block;
      height: 2px;
      margin: 3px 0;
    }
    .top {
      width: 30px;
    }
    .middle {
      width: 60px;
    }
    .bottom {
      width: 40px;
    }
  }
}
