.salt {
  @keyframes slap {
    0% {
      opacity: 0;
      transform: translate(0, 100px) scale(0) rotate(0);
    }
    50% {
      opacity: 1;
      transform: translate(0, 0) scale(1.25) rotate(15deg);
    }
    100% {
      transform: scale(1) rotate(-6deg);
    }
  }
  background: $black;
  transform: rotate(-6deg);
  padding: 1rem;
  animation: slap 1.25s ease-in-out;
  p {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Wilson wells", sans-serif;
    line-height: 1;
  }
  span.first-line {
    display: inline-block;
    transform: rotate(-6deg);
  }
  span.second-line {
    display: inline-block;
    transform: rotate(-3deg);
  }
}
